.divcontainer{
 height:50px;
 background-color: blueviolet;   
}
.example-card {
    max-width: 400px;
  }
.info-container{
    margin: 10px 30px;
    padding: 10px 30px;
}
.notice{
    background-color: #c8e6c9;
}
.btn{
    width: 120px;
    height: 35px;
    border: none;
    background-color:#f5B041 ;


}
.btn-notice{
    margin: 10px 30px;

}
